html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /*font-family:Arial,sans-serif;*/
}

 /*fix bs3 horizontal scrollbar bug*/
.row {
    margin: 0;
    padding: 0
}


 /*use special fonts in certain elements*/
h1,h2,h3,h4,.lead,.btn,.navbar a {
    text-transform:uppercase;
}

.navbar-brand {
    padding: 0;
}

.header, .bg-1 {
    padding-top:7%;
    height: 80%;
    width: 100%;
    /*noinspection CssUnknownTarget*/
    background: url('/img/header.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

 /*use alt in navbar and header for different color*/

.alt {
    background-color: #6E28C9;
}

.alt .lead {
    color: #3B0496;
}

.alt.affix {
    background-color:#4C06AB;
}

.alt li a:hover, .alt li.active {
    background-color:#5D17BA;
}



.blurb {
    padding: 120px 0;
    background-color:#fefefe;
}

.blurb .panel {
    background-color:transparent;
}

.bright {
    background: #dbdbdb url('http://www.bootply.com/assets/example/pt_topo.png') repeat center center fixed;
    color:#777;
}

.callout {
    color: #ffffff;
    padding-top:7%;
    height: 100%;
    width: 100%;
    background: url('/img/header.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gallery {
    padding: 50px 0;
}

.call-to-action {
    background: #eeeeee;
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

footer {
    padding: 20px 0;
    background: rgba(51, 51, 51, 0.75);
}

 /*-- end custom css for Bootstrap 3.x --*/
